.summary-content__wrapper {
    background: $background-grey;
}

.summary-content {
    padding: 45px 0;

    .summary-content__title {
        font-weight: 300;
        margin-bottom: 30px;
    }

    .summary-content__btn {
        text-decoration: none !important;
        font-size: 1.2rem;
        padding: 10px;
        background: $dark-grey;
        color: white;
        cursor: pointer;
        font-weight: 300;

    }
}