// Colors
$dark-grey: #585858;
$border-grey: #cacccd;
$background-grey: #f7f7f7;
$light-blue: #4286f4;


// Containers
.content-container {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}